services:
  db:
    image: postgres:17
    container_name: odoo18-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - odoo-network

  odoo:
    image: odoo:18
    container_name: odoo18-server
    depends_on:
      db:
        condition: service_healthy
    environment:
      HOST: db
      USER: ${POSTGRES_USER}
      PASSWORD: ${POSTGRES_PASSWORD}
      DB_PORT_5432_TCP_ADDR: db
      DB_PORT_5432_TCP_PORT: 5432
    volumes:
      - ./addons:/mnt/extra-addons
      - ./odoo_filestore:/var/lib/odoo/filestore
      - ./odoo_sessions:/var/lib/odoo/sessions
    ports:
      - "${ODOO_PORT}:8069"
    command: odoo --db_host=db --db_user=${POSTGRES_USER} --db_password=${POSTGRES_PASSWORD} --addons-path=/mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons --dev xml,reload,qweb --without-demo=all --load=web
    networks:
      - odoo-network

networks:
  odoo-network:
    driver: bridge